<div id="footer">
  <div class="ui segment">
    <div class="ui container">
      <div class="bottom-nav">
        <a href="/">Home</a>
        |
        <a href="/login">Login</a>
        |
        <a href="/register">Register</a>
        |
        <a href="/privacy-policy">Privacy policy</a>
      </div>
      <div class="social-nav">
        <a href="https://github.com/TCV3011/web-application-software-security"
          ><i class="github icon"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="ui segment">
    2020 | Created by <a href="https://tychoverstraete.be">Tycho Verstraete</a>
  </div>
</div>
