<header>
  <div class="ui secondary menu">
    <div class="ui container">
      <a class="item" <% if (title == "Home") { %> class="active"<% } %> href="/">Home</a>
      
      <div class="right menu">
        <% if(title !== "Dashboard") { %>
            <a class="ui item" href="/login"><div>Log in</div></a>
            <a class="ui item" href="/register"><div>Register</div></a>
          <% } else { %>
          <div>
            <form class="ui item" action="/auth/logout" method="post">
              <label for="logout">Log out</label>
              <input class="d-none" id="logout" type="submit"/>
            </form>
          </div>
          <% } %>
      </div>
    </div>
  </div>
</header>
