<div class="ui container">
  <h1>Hi there,</h1>
  <section id="intro">
    <h2>
      <i class="info circle icon"></i> Let me give you an introduction to this
      project.
    </h2>
    <p>
      This project is a website where the focus is set on making it as secure as
      possible. <br />
      To realize this, this website includes technologies like authentication,
      CSRF protection, routing, email verification, validation and much more.
      <br />
      To make this website useful, I turned it into a simple todo list
      application with a fairly simple UI that has been powered by
      <a href="https://semantic-ui.com/">Semantic UI</a>.
      <br />
      Please feel free to navigate around this website, and test out the
      security to its limits!
    </p>
    <p>
      You can find more information about this project, like the specific
      technologies and features, at
      <a href="https://github.com/TCV3011/web-application-software-security"
        ><i class="github icon"></i>this repository</a
      >.
    </p>
  </section>
</div>
<%- include('partials/sticky-footer.ejs') %>
