@font-face {
  src: url('../font/Montserrat-Regular.ttf');
  font-family: 'Montserrat-Regular';
}

@font-face {
  src: url('../font/Montserrat-Black.ttf');
  font-family: 'Montserrat-Black';
}

:root {
  --dark-grey: #2c3338;
  --grey: #363b41;
  --light-grey: #3b4148;
  --light-grey-hover: #444a52;
  --red: #991717;
  --red-gradient: linear-gradient(to left, red, var(--red));
  --red-gradient-hover: linear-gradient(
    to left,
    rgb(219, 0, 0),
    var(--red-hover)
  );
  --red-hover: #8f1515;
  --white: #eee;
  --black: #222;
  --title-font: 'Montserrat-Black';
  --text-font: 'Montserrat-Regular';
  --nav-image: 60px;
  font-family: var(--text-font);
}

.container {
  width: 80%;
  margin: 0 auto;
}

.top-spacer {
  margin-top: 15vh;
}

body {
  color: var(--white);
  background: url('../img/background2.png') center center;
  background-color: var(--dark-grey);
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
  font-family: var(--title-font);
  text-transform: uppercase;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  background: var(--red-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  font-weight: bold;
  color: red;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

header {
  width: 100%;
  position: fixed;
  background-color: var(--black);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .left-wrapper ul {
  margin-left: calc(var(--nav-image) + 1.5rem);
}

nav .image-wrapper {
  width: var(--nav-image);
}

nav img {
  position: absolute;
  top: 1rem;
  width: var(--nav-image);
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 1rem;
}

nav ul li a {
  display: inline-block;
  color: var(--white);
  text-decoration: none;
  padding: 1.4rem 0 1.2rem 0;
  border-bottom: 0.2rem solid var(--black);
}

nav ul li a:hover,
nav ul li a.active {
  border-bottom: 0.2rem solid;
  border-image-slice: 1;
  border-image-source: var(--red-gradient);
}

.panel-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

.panel {
  width: 260px;
  background-color: var(--grey);
  padding: 3rem;
  position: relative;
  margin: 0.5rem;
}

.panel .icon {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--red-gradient);
  padding: 0.5rem;
  font-size: 2rem;
}

.panel p {
  margin-top: 20px;
}

.auth-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  margin-left: auto;
  margin-right: auto;
  max-width: 25rem;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.login .login-img {
  width: 80px;
  margin: auto;
  margin-bottom: 2rem;
}

.login-img img {
  width: 100%;
}

.form-field {
  display: flex;
  margin: 1.2rem 0;
}

.form-field label,
.form-field input[type='text'],
.form-field input[type='email'],
.form-field input[type='password'],
.form-field input[type='submit'] {
  border-radius: 0.25rem;
  padding: 1.2rem;
}

.form-field input[type='password'],
.form-field input[type='text'],
.form-field input[type='email'] {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.form-field input[type='password'],
.form-field input[type='text'],
.form-field input[type='email'],
.form-field input[type='submit'] {
  width: 100%;
  border: none;
  background-color: var(--light-grey);
  font-size: 1rem;
  color: var(--white);
}

.login input[type='password']:focus,
.login input[type='password']:hover,
.login input[type='text']:focus,
.login input[type='text']:hover,
.login input[type='email']:focus,
.login input[type='email']:hover {
  background-color: var(--light-grey-hover);
  outline: none;
}

.form-field input[type='submit'] {
  background: var(--red-gradient);
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
}

.form-field label {
  background-color: var(--grey);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.form-field input[type='checkbox'] {
}

.form-field input[type='checkbox'] + label {
  border-radius: 0;
  padding: 0 1rem;
  background: none;
}

.form-field input[type='submit']:focus,
.form-field input[type='submit']:hover {
  background: var(--red-gradient-hover);
}

.form-field p {
  font-size: 0.9rem;
}

.form-field a {
  color: var(--white);
}

.form-field-error {
  border: 2px solid var(--red);
  border-radius: 0.25rem;
}

.error {
  color: red;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}
