<div class="auth-container">
  <div class="container top-spacer panel-wrapper">
    <div class="panel">
      <div class="icon"><ion-icon name="information-circle"></ion-icon></div>
      <h2>Info</h2>
      <p>
        This site is a school project for the course "Software Security" and is
        made by
        <a href="https://tychoverstraete.be">Tycho Verstraete</a>.
        <br />
      </p>
      <p>
        If you'd like to know the details, don't hesitate to check out the
        <a href="https://github.com/TCV3011/web-application-software-security"
          >repository</a
        >.
      </p>
    </div>
    <div class="panel">
      <div class="icon">
        <ion-icon name="key"></ion-icon>
      </div>
      <h2>Security</h2>
      <p>
        This website uses technologies like Authentication, CSRF-protection,
        Routing, Validation, etc.
      </p>
      <p>
        If you'd like to know the details, don't hesitate to check out the
        <a href="https://github.com/TCV3011/web-application-software-security"
          >repository</a
        >.
      </p>
    </div>
    <div class="panel">
      <div class="icon">
        <ion-icon name="people"></ion-icon>
      </div>
      <h2>Privacy</h2>
      <p>
        In this website we kept your privacy in mind. you can check our
        <a href="#">privacy policy</a> for more information.
      </p>
      <p>
        If you'd like to know the details, don't hesitate to check out the
        <a href="https://github.com/TCV3011/web-application-software-security"
          >repository</a
        >.
      </p>
    </div>
    <div class="panel">
      <div class="icon"><ion-icon name="rocket"></ion-icon></div>
      <h2>API</h2>
      <p>
        For the web application i made an API you can check it out
        <a href="#">here</a>. The API is made as secure as possible.
      </p>
      <p>
        If you'd like to know the details, don't hesitate to check out the
        <a href="https://github.com/TCV3011/web-application-software-security"
          >repository</a
        >.
      </p>
    </div>
  </div>
</div>
