<div class="auth-container">
  <div class="ui container">
    <h2>Verify your email</h2>
    <form class="ui form" method="POST" action="auth/verify">
      <p>
        Thanks for signing up! Before getting started, could you verify your
        email address by clicking on the link we just emailed to you? If you
        didn't receive the email, we will gladly send you another one.
      </p>
      <div class="field">
        <button type="submit" class="ui button">
          Resend verification email
        </button>
      </div>
    </form>
  </div>
</div>

<%- include('../partials/footer.ejs') %>
